@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'IranSans_Web'; /*تعریف یک نام برای فونت*/
    src: url('../fonts/IranSansWeb/IRANSansWeb_Medium.eot'); /*اکسپلورر 9 به بعد*/
    src: local('bYekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/
    local('b Yekan'), /*برای برخی از مرورگرها مانند سافاری*/
    url('../fonts/IranSansWeb/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
    url('../fonts/IranSansWeb/IRANSansWeb_Medium.woff') format('woff'), /*مرورگر های جدید*/
    url('../fonts/IranSansWeb/IRANSansWeb_Medium.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
    url('BYekan.svg#BYekan') format('svg'); /*نسخه های قدیمی سیستم عامل iOS*/
    font-style: normal;
    font-weight: normal;
}

/*---------------------------------- End of fonts ---------------------------------- */

body {
    font-family: IranSans_Web;
}

.ltr {
    direction:ltr;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width:900px !important;
    }
}
   


ul {
    padding-inline-start: 0px;
}

.dropdown-item {
    text-align: right;
}
.dropdown-footer, .dropdown-header {
    text-align: center;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-left: .5rem;
}


/*------------------------------------ contacts-list ------------------------------------*/

.contacts-list-img {
    float: right;
}

.contacts-list-info {
    margin-right: 45px;
    margin-left: 0;
}


/* sidebar */

.sidebar {
    direction: ltr;
}

.sidebar > div:first-child {
    direction: rtl;
}

.control-sidebar, .control-sidebar:before {
    left: -250px;
    right: auto;
    transition: left .3s ease-in-out;
}

.control-sidebar-slide-open .control-sidebar, .control-sidebar-slide-open .control-sidebar:before {
    left: 0;
    right: auto;
}

.small-box .icon {
    right:auto;
    left:10px;
}

.nav-sidebar .nav-link>p>.right {
    left: 1rem;
    right: auto;
}

.nav-sidebar>.nav-item .nav-icon {
    margin-right: 0;
    margin-left: .2rem;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e9ed;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}

.x_title {
    border-bottom: 2px solid #e6e9ed;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}

    .x_title .filter {
        width: 40%;
        float: left
    }

    .x_title h2 {
        margin: 5px 0 6px;
        float: right;
        display: block;
        text-overflow: ellipsis;
        font-size: 18px;
        white-space: nowrap
    }

        .x_title h2 small {
            margin-right: 10px
        }

    .x_title span {
        color: #bdbdbd
    }

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}

    .x_content h4 {
        font-size: 16px;
        font-weight: 500
    }


.panel_toolbox {
    float: left;
    min-width: 70px
}

    .panel_toolbox.navbar-right {
        float: left !important;
        margin-left: 0;
        margin-right: auto
    }

    .panel_toolbox > li {
        float: left;
        cursor: pointer
    }

        .panel_toolbox > li > a {
            padding: 5px;
            color: #c5c7cb;
            font-size: 14px
        }

            .panel_toolbox > li > a:hover {
                background: #f5f7fa
            }

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 0rem !important;
        margin-right: 4.6rem !important;
        z-index:100;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar:before {
        margin-right: 0;
        width: 4.6rem;
    }
}


@media (min-width: 768px) {
    .content-wrapper, .main-footer, .main-header {
        transition: margin-right .3s ease-in-out;
        margin-right: 250px;
        margin-left : 0;
        z-index: 3000;
    }
}

@media (max-width: 991.98px) {
    .main-sidebar, .main-sidebar:before {
        box-shadow: none!important;
        margin-right: -250px;
        margin-left: 0;
    }

    .content-wrapper, .content-wrapper:before, .main-footer, .main-footer:before, .main-header, .main-header:before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar:before {
        margin-right: 0;
        z-index: 4000;
    }
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar:before {
    margin-right: -250px;
}

.main-sidebar {
    left: auto;
    right:0;
}

/* Cards */

.card-header>.card-tools {
    right:auto;
    left:1rem;
}

.user-block img {
     float: right;
}

.attachment-block .attachment-img {
    float: right;
}

.attachment-block .attachment-pushed {
    margin-left: 0px;
    margin-right: 110px;
}

.card-comments .card-comment img, .img-lg, .img-md, .img-sm, .user-block.user-block-sm img {
    float: right;
}

.card-comments .comment-text {
    margin-right: 40px;
    margin-left: 0;
}

.card-comments .card-comment img+.img-push, .img-sm+.img-push, .user-block.user-block-sm img+.img-push {
    margin-left: 0px;
    margin-right: 40px;
}

.user-block .comment, .user-block .description, .user-block .username {
    margin-right: 50px;
    margin-left: 0px;
}

.btn-group-vertical {
    align-items: center;
}


/*------------------------- Form ----------------------------*/
.select2-container .select2-search--inline {
    float: right;
}

.select2-container--default .select2-search--inline .select2-search__field {
    text-align: right;
}

/*----------------------- Extra Page ---------------------------*/
.error-page>.headline {
    float: right;
}

.error-page>.error-content {
    margin-right: 190px;
    margin-left: 0;
}

.lockscreen-image {
    left: auto;
    right:-10px;
}

.lockscreen-credentials {
    margin-left: 0px;
    margin-right: 70px;
}

.nav {
    padding-inline-start: 0px !important;
}

/*---------------------------------- Persian Date Picker ---------------------------------- */

.datepicker-plot-area {
    font-family: 'Vazir', sans-serif;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: 0.9rem;
    border-radius: 0.2rem;
}

.select2-selection__choice{
    background-color:blue !important;
}