{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
جزئیات {{ course.title }}
{% endblock title %}

{% block css %}
    <style>
        .r1_iframe_embed {
            position: relative;
            overflow: hidden; 
            width: 100%; 
            height: auto; 
            padding-top: 56.25%; 
        }
        .r1_iframe_embed iframe{
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            border: 0;
        }
        {% comment %} .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px; 
            padding: 20px;
        } {% endcomment %}
        
        .star {
            cursor: pointer;
        }
        
        .star:hover,
        .star.active {
            color: orange;
        }
          
          
    </style>
{% endblock css %}


{% block content %}

<div class="breadcumb-wrapper" data-bg-src="{% static 'main/images/breadcumb-bg.jpeg' %}" data-overlay="title" data-opacity="8">
    <div class="breadcumb-shape" data-bg-src="{% static 'main/images/breadcumb_shape_1_1.png' %}"></div>
    <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"><img
            src="{% static 'main/images/breadcumb_shape_1_2.png' %}" alt="shape"></div>
    <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
        <img src="{% static 'main/images/breadcumb_shape_1_3.png' %}" alt="shape"></div>
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">
                محتوای {{ course.title }}
            </h1>
            <br>
            <br>
            <p class="text-white text-center">
                {% if course.chapters.count == 0 %}
                    شامل {{ course.parts.count }} محصول
                {% else %}
                    شامل {{ course.chapters.count }} فصل
                {% endif %}
            </p>
        </div>
    </div>
</div>

<section class="space-top space-extra2-bottom">
    <div class="container">
        <div class='row'>
            <div class="r1_iframe_embed">
                <iframe src="{{ course.pre_video }}" style="border:0 #ffffff none;" name="CGA28L11_Simple_present_and_present_continuous.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                </iframe>
            </div>
            <hr>
            <p class="text-justify">
                {{ course.meta_description }}
            </p>
        </div>

        {% if course.chapters.count == 0 %}
            <div class="row">
                {% for part in course.parts.all %}
                <div class="col-md-6 col-xl-4">
                    <div class="video-course">
                        <div class="course-img"><img src="{% if part.image_2 %} {{ part.image_2.url }} {% else %} {{ part.image.url }} {% endif %}" alt="{{ part.title }}" style="height: 190px;"> 
                            <span
                                class="tag">
                                <i class="fal fa-clock"></i> {{ part.part_time }}
                            </span> 

                            <span
                                class="tag tag-2">
                                محصول {{ part.part_index }}
                            </span> 
                            
                            
                            <a href="#"
                                class="play-btn {% if not show_buy_link %} popup-video {% endif %}"><i class="fas fa-play"></i></a></div>
                        <div class="course-content">
                            <h3 class="course-title">
                                {% if show_buy_link %}
                                    <a href="#">{{ part.title }}</a>
                                {% else %}
                                    <a href="{% url 'edu:part_detail' part.slug %}">{{ part.title }}</a>
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                {% for chapter in course.chapters.all %}
                    <div class="col-md-6">
                        <div class="sidebar-area sidebar-shop">
                            <div class="widget widget_categories">
                                <h3 class="widget_title">
                                    {{ forloop.counter }} - {{ chapter.title }}
                                </h3>
                                <ul class="accordion-content">
                                    {% for part in chapter.parts.all %}
                                        <li>
                                            {% if show_buy_link %}
                                                <a href="#">{{ forloop.counter }} - {{ part.title }}</a>
                                            {% else %}
                                                <a href="{% url 'edu:part_detail' part.slug %}">{{ forloop.counter }} - {{ part.title }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        {% if not show_buy_link %}
            <div class="row mx-auto mt-4 mb-4">
                <div class="h3 text-center">امتیاز به مجموعه {{ course.title }}</div>
                <form id="ratingForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="content">
                        <textarea name="content" id="content" cols="30" rows="10" placeholder="نظر خود را بنویسید..."></textarea>
                    </div>
                    <div class="rating">
                        <input type="hidden" id="rating" name="rating" value="0">
                        <div class="rating-icons">
                            <i data-value="1" class="rating bi bi-emoji-frown"></i>
                            <i data-value="2" class="rating bi bi-emoji-expressionless"></i>
                            <i data-value="3" class="rating bi bi-emoji-neutral"></i>
                            <i data-value="4" class="rating bi bi-emoji-smile"></i>
                            <i data-value="5" class="rating bi bi-emoji-laughing"></i>
                        </div>
                    </div>
                    <input type="hidden" id="course_slug" name="course_slug" value="{{ course.slug }}">
                    <div class="text-center">
                        <button id="submitRating1" class="btn btn-success">ثبت امتیاز</button>
                    </div>
                </form>
            </div>
        {% endif %}

        <!-- Comments Box -->
        <div class="row mx-auto mt-4 mb-4">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">نظرات({{ comments.count|default:"0" }})</h3>
                        <ul class="list-unstyled">
                            {% for comment in comments %}
                                <li class="media mb-4">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">{{ comment.user.get_full_name|default:"کاربر ..." }}</h5>
                                        <p class="card-text">{{ comment.content }}</p>
                                        <p><span class="">امتیاز: {{ comment.rate }}</span></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted" style="font-size: 11px;">{{ comment.get_created_at_jalali }}</small>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li class="media mb-4">
                                    <div class="media-body">
                                        <p class="text-center">هیچ نظری موجود نیست.</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if show_buy_link %}
            <hr>
            <p class="text-info">
                برای مشاهده فصل ها و محصولی این دسته بندی، لطفا از بخش پایین آن را خریداری نمایید.
            </p>
            <div class="row mx-auto mt-4 mb-4">
                <div class="card shadow">
                    <table class="table table-stripped table-hover">
                        <tr>
                            <td>
                                قیمت مجموعه
                            </td>
                            <td>
                                {{ course.formatted_price }} تومان
                            </td>
                        </tr>
                        {% if course.price_with_discount %}
                            <tr>
                                <td>
                                    قیمت با تخفیف
                                </td>
                                <td>
                                    {{ course.formatted_price_with_discount }} تومان
                                </td>
                            </tr>
                        {% endif %}
                        
                        <tr>
                            <td>
                                قابل پرداخت
                            </td>
                            <td>
                                {{ course.formatted_paid_price }} تومان
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                <form action="{% url 'cart:item_add' course.id %}" method="GET">
                                    <button type="submit" class="btn btn-success w-100">اضافه کردن به سبد خرید</button>
                                    <input type="hidden" name="product_type" value="course">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock content %}


{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
      $('.star').click(function() {
        var value = $(this).data('value');
        $('#rating').val(value); // Set the value of the hidden input field
        $('.star').removeClass('active');
        $(this).addClass('active'); // Add 'active' class to the clicked star and its preceding siblings
        $(this).prevAll('.star').addClass('active');
      });
    
      $('#submitRating1').click(function() {
        var rating = $('#rating').val();
        var courseSlug = $('#course_slug').val();
        var content = $('#content').val()
        var url = "/edu/course_detail/" + courseSlug + "/";
        $.ajax({
          type: "POST",
          url: url,
          data: {
            rating: rating,
            content: content,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() // Include the CSRF token
          },
          
        });
      });
    });
</script>
{% endblock %}
