{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
سفیر - آموزش آنلاین زبان تخصصی
{% endblock title %}


{% block content %}

<div class="space-bottom why-area-4 mt-4" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-45 mb-xl-0 text-center text-xl-start">
                <div class="title-area mb-35"><span class="sub-title">
                    سوپر اپ سفیرمال 
                </span>
                    <h2 class="sec-title fw-semibold">
                        پلی میان شما و دنیای زبان
                    </h2>
                </div>
                <p class="mt-n2 mb-35 text-justify">
                    
                    فروشگاه اینترنتی سفیرمال به عنوان بزرگترین فروشگاه تخصصی زبان در ایران، با هدف ارائه جامع‌ترین منابع آموزشی زبان‌های مختلف به زبان آموزان در سراسر ایران، مشغول به فعالیت است. تیم سفیرمال متشکل از متخصصان و کارشناسان مجرب در زمینه آموزش زبان است که با تعهد و تلاش بی‌وقفه، در تلاشند تا بهترین خدمات را برای علاقه‌مندان به زبان فراهم کنند.
                   
                </p>

                <p class="text-justify">
                    <strong>
                        در سفیرمال می‌توانید:
                    </strong>
                </p>

                <p class="text-justify">
                    <i class="fas fa-angle-left"></i>
                    به جدیدترین و متنوع‌ترین منابع آموزشی زبان‌های مختلف، اعم از کتاب، فیلم، مجموعه‌های آموزشی و ... دسترسی داشته باشید.
                      
                </p>

                <p class="text-justify">
                    <i class="fas fa-angle-left"></i>
                    منابع آموزشی مورد نیاز خود را با بهترین قیمت و کیفیت تهیه کنید.
                </p>

                <p class="text-justify">
                    <i class="fas fa-angle-left"></i>
                    از مشاوره تخصصی کارشناسان ما در انتخاب منابع آموزشی مناسب بهره‌مند شوید.
                            
                </p>

                <p class="text-justify">
                    <i class="fas fa-angle-left"></i>
                    از تخفیفات و پیشنهادات ویژه ما باخبر شوید.    
                </p>
                
                <p class="text-center alert alert-primary">
                    امیدواریم که با استفاده از خدمات سوپر اپلیکیشن سفیرمال، بتوانید در مسیر یادگیری زبان‌های مختلف پیشرفت کنید و به اهداف خود برسید.    
                </p>
                
            </div>
           
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

{% endblock js %}