{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
سفیر - آموزش آنلاین زبان تخصصی
{% endblock title %}


{% block content %}

<div class="space-bottom why-area-4 mt-4" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-45 mb-xl-0 text-center text-xl-start">
                <div class="title-area mb-35"><span class="sub-title">
                    سوپر اپ سفیرمال 
                </span>
                    <h2 class="sec-title fw-semibold">
                        قوانین و مقررات
                    </h2>
                </div>
                <p class="mt-n2 mb-35 text-justify">
                    کاربر گرامی! از آنجایی که هدف اصلی سوپر اپلیکیشن سفیرمال همواره بر ارائه بهترین خدمات و جلب رضایت حداکثری شما استوار است، تقاضا داریم به‌منظور رعایت حقوق خود، قوانین و مقرراتی این بخش را با دقت مطالعه فرمایید.
                    ورود شما به سوپر اپ سفیرمال و هرگونه اقدامی چون ثبت نام مجموعه‌های آموزشی، خرید کتاب و… به منزله آگاهی از شرایط استفاده از خدمات این فروشگاه اینترنتی و پذیرفتن قوانین معین‌شده است. 
                        
                </p>
              
                <p class="text-justify">
                    <strong>
                        قوانین عمومی
                    </strong>
                    <br>
                    توجه داشته باشید که تمامی قوانین، اصول و رویه‌های سفیرمال مطابق با سه مرجع زیر است و کاربران عزیز نیز متقابلا موظف به رعایت قوانین مرتبط با کاربر هستند.
                    <br>
                    •	قوانین جمهوری اسلامی ایران
                    <br>
                    •	قوانین تجارت الکترونیک
                    <br>
                    •	قوانین حمایت از حقوق مصرف‌کنندگان
                </p>

                <p class="text-justify">
                    <strong>
                        
                        ارتباط با مشتریان
                    </strong>
                    <br>
                    تنها راه ارتباط قانونی سفیرمال با مشتریان، آدرس ایمیل و شماره تلفنی است که آن‌ها در پروفایل خود ثبت کرده‌اند و تمامی مکاتبات از این طریق انجام خواهد شد.
ارسال تمامی پیامک‌های سفیرمال با شماره 10068183656 و یا 90003002 انجام می‌شود.

                </p>

                <p class="text-justify">
                    <strong>
                        سیاست‌های رعایت حریم شخصی
                    </strong>
                    <br>
                    سفیرمال وظیفه اصلی خود می‌داند تا ضمن احترام به اطلاعات خصوصی و شخصی مشتریان و کاربران سایت و اپ، با تمام توان از این اطلاعات محافظت کرده و مانع افشای آن‌ها شود.
                    <br>
                    تمامی محتوا و محصول موجود در این اپلیکیشن از جمله مجموعه، کتاب، متن، طرح گرافیکی، لوگو، نام تجاری، آیکون، تصاویر، ویدیو، فایل‌های قابل دانلود، فایل‌های قابل کپی‌کردن، آیکون دکمه‌های سایت، داده‌ها، مقالات و کلیه محتوای تولید شده توسط این فروشگاه اینترنتی جزوی از اموال سفیرمال به شمار می‌رود. بدون‌شک حق استفاده و نشر تمامی مطالب موجود در اختیار و انحصار سفیرمال است و هرگونه استفاده تجاری یا غیرتجاری از این محتوا بدون کسب مجوز کتبی از سفیرمال پیگرد قانونی دارد و سفیرمال حق این پیگیری را برای خود محفوظ می‌داند. کاربران اپلیکیشن موظف هستند در صورت استفاده از خدمات سفیرمال، در حفظ اطلاعات محرمانه اطلاعات حساب کاربری و رمز عبور خود کوشا باشند. بدیهی است تمام مسئولیت افشای اطلاعات کاربری یا فعالیت‌هایی که با حساب کاربری آن‌ها انجام می‌شود، برعهده کاربر موردنظر است.
                </p>

                <p class="text-justify">
                    <strong>
                        
                        شرایط استرداد
                    </strong>
                    <br>
                    امکان استرداد مجموعه خودآموز زبان انگلیسی، پس از گذشت 24 ساعت از زمان ثبت نام و یا مشاهده بیش از یک ویدئوی آموزشی امکانپذیر نیست.
                </p>

                <p class="text-justify">
                    <strong>
                        مدت زمان دسترسی به محتوا
                    </strong>
                    <br>
                    زبان آموزان پس از ثبت نام در مجموعه، به مدت 180 روز به محتوا دسترسی دارند. در صورت نیاز به مدت زمان بیشتر برای مطالعه، نیاز به تمدید مجموعه با پرداخت مبلغ 100.000 تومان خواهد بود.
                    <br>
                    مدت زمان تمدید مجموعه، 30 روز است.
                </p>

                <p class="text-justify">
                    <strong>
                        قوانین کپی رایت
                    </strong>
                    <br>
                    کلیه حقوق مادی و معنوی محتوای مجموعه های خودآموز متعلق به موسسه فرهنگی و هنری سفیر فرهنگ و هنر بوده و هرگونه کپی برداری از آن پیگرد قانونی خواهد داشت.
                </p>
                
            </div>
           
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

{% endblock js %}